*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.Nav-Links,
.cart{
  display: flex;
}

.logo-container{
  flex: 1;
}

.logo{
  margin-top: 15px;
  font-weight: 400;
}

nav{
  flex: 3;
}
.Nav-Links{
  justify-content: space-around;
  list-style:none;
}



.Nav-Link{
  color: #5f5f79;
  font-size: 15px;
  text-decoration: none;
}
.shop{
  flex: .5;
  justify-content: flex-end;
}

.presentation{
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;

}

.introduction{
  flex: 2;
}
.intro-text{
  font-size: 32px;
  font-weight:100;

}

.intro-text p{
  font-size: 22px;
}

.cta{
  padding: 50px 0px 0px 0px;
}

.cta-Guitars{
  border: 2px solid #387e82;
  background: transparent;
  color: #387e82;
  font-weight: 500;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px 20px 20px;
}

.cta-Amps{
  border: 2px solid #c09aac;
  background: transparent;
  color: #c09aac;
  font-weight: 500;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px 20px 20px;
}
.cta-Pedals{
  border: 2px solid #663436;
  background: transparent;
  color: #663436;
  font-weight: 500;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px 20px 20px;
}


.cover{
  flex: 1;
}
.cover img{
  height: 100vh;
}


@media screen and (max-width: 900px){

    .presentation{
      flex-direction: column;
    }

    .introduction{
      margin-top: 5vh;
      text-align: center;
    }
    .intro-text h1{
      font-size: 30px;
    }
    .intro-text p{
      font-size: 18px;
    }
    .cta{
      padding: 10px 10px 10px 10px;
    }
    .Nav-Link{
      font-size: 12px;
      margin: 5px 5px 5px 5px;
    }
    .logo{
      display: none;
    }
    .cover img{
      height: 55vh;
    }

}
